 <nav class="aui-navgroup aui-navgroup-vertical">
          <div class="aui-navgroup-inner">
            <div class="aui-navgroup-primary">
              <ul class="aui-nav">
                <li><a href="" id="left-nav-login-link">{{loginState}}</a></li>
                <li><a href="http://example.com">Open</a></li>
                <li><a href="http://example.com">New</a></li>
              </ul>
            </div>
            <div class="aui-navgroup-secondary">
              <ul class="aui-nav">
                <li><a href="http://example.com/">Nav item</a></li>
              </ul>
            </div>
          </div>
        </nav>
