<nav class="aui-navgroup aui-navgroup-horizontal">
    <div class="aui-navgroup-inner">
        <div class="aui-navgroup-primary">
            <ul class="aui-nav">
                <li><a href="#">User Macro Name</a></li>

                <li><a href="#" id="edUpload">Upload</a></li>
                <li><a href="#">Version <aui-badge>123</aui-badge></a></li>
                <li><a href="#dropdown2-nav1" aria-owns="dropdown2-nav1" aria-haspopup="true" class="aui-dropdown2-trigger">Properties<span class="aui-icon-dropdown"></span></a></li>
                <li><a href="#">Documentation</a></li>
            </ul>
        </div>
    </div>
</nav>
